* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
}
.nav_ul {
  display: flex;
  list-style-type: none;
}
.nav_ul li {
  padding: 20px;
  align-self: center;
}
.logo {
  width: 100px;
  height: 30px;
  align-self: center;
  margin-left: 35px;
}
.nav_btn {
  margin-right: 35px;
  align-self: center;
  border: none;
  color: white;
  padding: 10px;
  background-color: #f63954;
  width: 140px;
  height: 40px;
}
a {
  text-decoration: none;
  color: #848389;
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  align-self: center;
}
.main1 {
  height: 620px;
  justify-content: center;
  display: flex;
  margin-top: 20px;
  background-image: url(hero-homepage.jpg);
  align-items: center;
}
.main1_content {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
}
.main1_content h1 {
  display: flex;
  justify-content: center;
  font-size: 51px;
  font-family: Open Sans, sans-serif;
  line-height: 44px;
  font-weight: 800;
  color: white;
}

.main1_text {
  margin-top: 20px;
}
.main1_content p {
  display: flex;
  color: rgb(100%, 100%, 100%);
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  justify-content: center;
  font-family: sans-serif;
}
.main1_btn {
  margin-top: 30px;
  padding: 10px;
  background-color: transparent;
  color: white;
  width: 182px;
  height: 50px;
  align-self: center;
}

/* screen 2 jis me social media k icons he */
.screen2 {
  justify-content: center;
  display: flex;
  width: 100%;
  height: 200px;
  background-color: rgb(244, 244, 247);
  flex-direction: column;
}
/* screen 2 me paragraph*/
.screen2_para {
  margin-top: 60px;
  font-size: 14px;
  color: #848389;
  align-self: center;
}
/* screen 2 m ek div bnya jis me icons he or ose display flex dia */
.social_icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* unorder list for icons */
.ul_social_icons {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style-type: none;
}
/* unorder list k li */
.ul_social_icons li {
  padding: 10px;
  align-self: center;
}
/* icons 1 se icon 9 */
.i_1 {
  width: 50px;
  height: 50px;
}
.i_2 {
  width: 112px;
  height: 91px;
}
.i_3 {
  width: 124px;
  height: 60px;
}
.i_4 {
  width: 131px;
  height: 90px;
}
.i_5 {
  width: 40px;
  height: 60px;
  align-self: center;
}
.i_6 {
  width: 50px;
  height: 60px;
}
.i_7 {
}

.i_8 {
  width: 150px;
  height: 40px;
}
.i_9 {
  width: 200px;
  height: 60px;
}
/* icons end */

/* screen 3 */
.screen3 {
  display: flex;
  margin-top: 200px;
  justify-content: center;
}
.screen3 h1 {
  align-self: center;
}
.s3_line {
  width: 40px;
  height: 2px;
  background-color: red;
  align-self: center;
  margin-top: 30px;
}
.screen3_C {
  display: flex;
  flex-direction: column;
}
.screen3_C p {
  align-self: center;
  line-height: 30px;
  color: #848389;
  font-size: 20px;
}
.screen3_f_p {
  margin-top: 40px;
}

.screen3_pic {
  display: flex;
  justify-content: space-around;
}
.screen3_pic {
  margin-top: 50px;
}
.s3_c1 {
  margin-left: 120px;
  display: flex;
  flex-direction: column;
}
.s3_c2 {
  margin-right: 120px;
}
.screen3_card1_con {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen3_card1_con p {
  margin-top: 10px;
}
/* card 1 end  */

/* card 2 start */

.screen3_card2_con {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.screen3_card2_con h2 {
  align-self: center;
}
.screen3_card2_con p {
  align-self: center;
  margin-top: 5px;
}
/* screen 3 end */

/* screen 4 start */
.s_4 {
  display: flex;
  margin-top: 250px;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* screen 4 image widh height */
.screen4_image {
  width: 740px;
  height: 700px;
}
/* line red in screen4 right saide */
.line1_s4 {
  width: 50px;
  height: 2px;
  background-color: red;
}

/* screen four content */

.s_4_cont {
  padding-right: 120px;
}
/* heading color in screen 4 */

.scr_4_head {
  color: #34323b;
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
}
/* screen 4 first peara graph */
.scr_4_pera {
  color: #5a5665;
  font-size: 20px;
  font-weight: 300;
  margin-top: 10px;
  line-height: 30px;
}
/* scree4 first paragraph lin 2 */
.scr_4_pera2 {
  color: #5a5665;
  font-size: 20px;
  font-weight: 300;
  margin-top: 10px;
}
/* screen 4 me right saide me conr=tect me dosri red line  */
.line2_s4 {
  margin-top: 120px;
  width: 50px;
  height: 2px;
  background-color: red;
}

/* screen 5 */
.screen5_c {
  display: flex;
  flex-direction: column;
}
/* screen5_c os ka p */
.firstpere_s5 {
  align-self: center;
  margin-top: 120px;
  color: #34323b;
  font-size: 32px;
  font-weight: 800;
}
/* red line in screen 5 */
.redline {
  margin-top: 30px;
  width: 50px;
  height: 2px;
  background-color: red;
  align-self: center;
}
/* screen 5 pera 1 line */
.screen5_pera_first {
  align-self: center;
  color: #5a5665;
  line-height: 32px;
  font-size: 20px;
  margin-top: 50px;
}
/* screen 5 pera 2 line */
.screen5_pera {
  align-self: center;
  color: #5a5665;
  line-height: 32px;
  font-size: 20px;
}
/* screen 5 me red icons */
.account_icon {
  width: 37px;
  height: 42px;
}
/* ul for icons and content */
.icons_ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-top: 80px;
}
/* ul k ander icons k niche pera */
.icons_ul li {
  align-self: center;
}
/* image in ul */
.icons_ul img {
  align-self: center;
}
/* ul k andaer icons div for align */
.icon_div {
  display: flex;
  flex-direction: column;
}
.icon_div img {
  align-self: center;
}
.icon_div p {
  align-self: center;
}
/* scren five icon div me first p */
.first_p_s5_icon
{
  margin-top: 30px;
  color: #34323b;
  font-size: 19px;
  font-weight: 600;
}
/* secound pera align in screen 5 icons div */
.secound_pera_icons_div
{
font-family: sans-serif;
font-size: 19px;
font-weight: 300;
line-height: 20px;
margin-top: 20px;
color: #5f5e65;
}
/* third line icon div */
.third_p_icon_div
{
  font-family: sans-serif;
font-size: 19px;
font-weight: 300;
line-height: 20px;
margin-top: 10px;
color: #5f5e65;
}